{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register register-form'}}) }}
    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
    {{ form_errors(form.email) }}
    
    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
    {{ form_errors(form.username) }}
    
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
    {{ form_errors(form.plainPassword.first) }}
    
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Repeat password'} }) }}
    {{ form_errors(form.plainPassword.second) }}
    
    {{ form_widget(form.first_name, { 'attr': {'class': 'form-control', 'placeholder': 'First name'} }) }}
    {{ form_errors(form.first_name) }}
    
    {{ form_widget(form.last_name, { 'attr': {'class': 'form-control', 'placeholder': 'Last name'} }) }}
    {{ form_errors(form.last_name) }}
    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-lg btn-primary btn-block" />
{{ form_end(form) }}
