body {
    padding: 40px 0;
}
.product-page textarea {
    height: 200px;
    resize: none;
}
.product-page .checkbox {
    display: inline-block;
    padding: 0 10px;
}
.product-page .checkbox input {
    position: static;
    margin: 0 0 0 -20px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}
.product-page .product-description {
    padding: 0 0 20px;
}
.product-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-item:nth-child(4n+1) {
    clear: left;
}
.product-item a {
    display: block;
    color: #686868;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 20px;
    text-decoration: none;
    min-height: 250px;
}
.product-item a:hover {
    border-color: #999;
}
.sizes {
    padding: 0 0 15px;
}
.product-reviews, .add-review {
    padding: 40px 0 20px;
}
.product-reviews .title, .add-review .title {
    padding: 0 0 20px;
}

.login-form, .register-form {
    max-width: 600px;
    margin: 0 auto;
}
.login-form ul, .register-form ul {
    list-style: none;
    padding-left: 20px;
}
.login-form input, .register-form input {
    margin-bottom: 8px;
}