{% extends 'product/index.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Create Product</h1>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <strong>Select sizes: </strong>
                        {% for size in form.sizes %}
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(size, { 'attr': {'class': 'form-control'} }) }}
                                    {{ size.vars.label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-default" />
                    </div>
                {{ form_end(form) }}
            {% else %}
                <p>Only logged users can create produts</p>
            {% endif %}
            <a href="/products">View all products</a>
        </div>
    </div>
{% endblock %}
