{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block body %}
    <header class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
            <a class="btn btn-primary" href="{{ path('admin') }}">Admin panel</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Registration</a>
        {% endif %}
    </header>
    <div class="container product-page">
        {% block content %}
            <h1>Products list</h1>
            <a href="/product/create">Create product</a>
            <div class="row">
                {% for product in products %} 
                    <div class="col-sm-3 product-item">
                        <a href="/product/{{ product.id }}">
                            <h4 class="title">{{ product.name }}</h4>
                            {% if product.sizes is not empty %}
                                <div class="sizes">
                                    <strong>Product size:</strong>
                                    {% for size in product.sizes %}
                                        <span class="list-group-item-text"> {{ size.name }} | </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <p class="description">{{ product.description |length > 180 ? product.description|slice(0, 190) ~ '...' : product.description }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

