{% extends 'product/index.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    {% if product.sizes is not empty %}
        <div class="sizes">
            <strong>Product size:</strong>
            {% for size in product.sizes %}
                <span class="list-group-item-text"> {{ size.name }} | </span>
            {% endfor %}
        </div>
    {% endif %}
    <p class="product-description">{{ product.description|nl2br }}</p>
    <a class="btn btn-primary" href="/products">View all products</a>
    {% if reviews is not empty %}
        <div class="product-reviews">
            <h4 class="title">Product Reviews</h4>
            {% for review in reviews %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ review.user ? review.user.username }}</div>
                    <div class="panel-body">
                        {{review.message}}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="add-review">
        <h4 class="title">Add review</h4>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.message) }}
                {{ form_widget(form.message, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-success" />
            </div>
            {{ form_widget(form.product, { 'attr': {'class': 'hidden'} }) }}
            {{ form_end(form) }}
        {% else %}
            <p>Only logged users can give feedback</p>
        {% endif %}
    </div>
{% endblock %}
