<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>test login</title>
    </head>
    <body>
        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </body>
</html>
