{% extends "base.html.twig" %}
{% block title %}Notes{% endblock %}
{% block body %}
    <div class="container">
        {% if errors is defined %}
            <div class='errors' style="padding: 20px 0 0;">
                {% for error in errors %} 
                    <div class="alert alert-danger" role="alert">{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div style="padding: 20px 0;">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>

            {{ form_end(form) }}
        </div>
        {% for note in notes %} 
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ note.title }}</h4>
                    <p class="list-group-item-text">{{ note.description }}</p>
                </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}